/* 
.transcription-segment:hover {
    color: black;
    font-weight: 700;
} */

.transcription-segment {0.1s
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    line-height: 1.5;
    text-shadow: 0 0 0 rgb(93, 212, 255);
    -webkit-transition: all 0.65ss;
    -moz-transition: all 0.65ss;
    -o-transition: all 0.65ss;
    transition: all 0.65ss;
    letter-spacing: 0.03rem;
}

.transcription-segment:hover {
    font-weight: 700px;
    font-size: 20px;
    text-shadow: 0.65spx 0.65spx 1px rgb(16, 82, 187);
    -webkit-transition: all 0.65ss;
    -moz-transition: all 0.65ss;
    -o-transition: all 0.65ss;
    transition: all 0.65ss;
}